{
    'Checkout[consignee]' : 'Name',
    'Checkout[city]' : '0000',
    'Checkout[district]' : '0000',
    'isDistrictError' : '0',
    'Checkout[address]' : 'Address',
    'Checkout[zipcode]' :'5 num zip',
    'Checkout[tel]' : 'phone',
    'Checkout[best_time]' : '1',
    'Checkout[invoice_type]' : '1',
    'Checkout[invoice_title]' : '',
    'Checkout[invoice_company_code]' : '',
    'Checkout[is_donate]' : '0',
    'Checkout[couponsValue]' : '0',
    'Checkout[couponsType]' : 'no',
    'Checkout[submit]' : '提交訂單',
    'needCity' : '0'
}
